sudo: required
dist: trusty
language: c

matrix:
  include:
    - compiler: gcc-7
      addons:
        apt:
          sources: [ 'ubuntu-toolchain-r-test' ]
          packages: [ 'gcc-7', 'cmake' ]
      env: [COMPILER=gcc-7, CMAKE_C_FLAGS_DEBUG="-Wall -Wextra --coverage -O0", CMAKE_EXE_LINKER_FLAGS=-lgcov]

    - compiler: clang-3.9
      addons:
        apt:
          sources: [ 'ubuntu-toolchain-r-test']
          packages: [ 'clang-3.9', 'cmake']
      env: [COMPILER=clang-3.9, CMAKE_C_FLAGS_DEBUG="-Wall -Wextra", CMAKE_EXE_LINKER_FLAGS=]
before_install:
  - sudo apt-get update -qq

after_success:
  - bash <(curl -s https://codecov.io/bash) -f '!*unity*' -F unittesting

script:
  - mkdir build && cd build
  - cmake -DCMAKE_C_COMPILER=$COMPILER -DCMAKE_BUILD_TYPE=Debug -DCMAKE_C_FLAGS_DEBUG=$CMAKE_C_FLAGS_DEBUG -DCMAKE_EXE_LINKER_FLAGS=$CMAKE_EXE_LINKER_FLAGS ..
  - make -j 4 VERBOSE=1
  - cd test && ctest -j 4 -VV
  - cd ../..
  